body {
	font-family: 'Amatic SC' !important;
	font-size: 20pt;
	background-color: #ffe6e6;
}

header{
	color: white;
}


.carousel-control.left, .carousel-control.right {
    background-image: none
}

.container h2 {
	font-family: 'Amatic SC' !important;
	font-size: 100;
}

.jumbotron {
background-color: white;
}

li {
	text-align: left;
}

.navbar {
	font-family: 'Amatic SC' !important; 
	font-size: 30;
}

#products {
background-color: white;
}

#challenge {
	background-color: white;
}